#middle-area div{border: 1px solid white;}
/* 전체구조 스타일 */
body{
    position:relative;
}
#left-bar{
    height: 1050px;
    width: 280px;
    position: absolute;
    left: 0;
	margin-top: -70px;
    background: rgb(255, 242, 200);
}
#right-bar{
    height: 1050px;
    width: 280px;
    position: absolute;
    right: 0;
    margin-top: -70px;
    background: rgb(255, 242, 200);
}
#outer{
	margin-top: -71px;
    height:1050px;
}
#middle-area{
    width: 1300px;
    height: 800px;
    margin:auto;
    margin-top:150px;
	position:relative;
	background: url("../../img/petLog/note_big.png");
	background-size: 100%;
    background-repeat: no-repeat;
}

/* 왼쪽 영역 */
#left-part{
    width: 565px;
    height: 756px;
    position: absolute;
    left:22px;
    top: 23px;;
}
/* 왼쪽 상단영역 */
#left-top{
    width: 565px;
    height: 250px;
    margin-top: 30px;
    position: relative;
}
/* 프로필 */
#profile-img{
    width: 110px;
    height: 110px;
    margin-left: 32px;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    overflow: hidden;
    background-image: url("../../img/petlog_logo.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#profile-img img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 100px;
}
/* 룸이름 */
#room-name{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 100px;
    position: absolute;
    top: 50px;
    left: 80px;
}
#room-name>div{
    float: left;
}
/* 신고버튼 */
#report-account-btn{
    color: darkgray;
    font-weight: bolder;
    font-size: 12px;
    width: 30px;
    margin-left: 10px;
    cursor:pointer;
}
/* 팔로우 버튼 */
#follow-btn{
    width: 80px;
    position: absolute;
    left: 175px;
    top: 85px;
    color: white;
    font-weight: bolder;
    background: orange;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}
/* 팔로잉 버튼 */
#following-btn{
    width: 80px;
    position: absolute;
    left: 175px;
    top: 85px;
    color: orange;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
    border:orange solid 3px;
    background: white;
}
/* 게시글 팔로워 팔로잉 영역 */
#room-info{
    height: 45px;
    width: 233px;
    position: absolute;
    right: 20px;
    top:65px;
}
#room-info>div{
    float: left;
    width: 75px;
    height: 20px;
    font-weight: bolder;
}
/* 값 */
.count{
    color: rgb(255, 102, 0);
    font-size: 18px;
    margin-bottom: 3px;
}
/* 제목부분 */
.info-title{
    font-size: 15px;
}
.follower, .following{
    cursor: pointer;
}
/* bio영역 */
#bio{
    width: 500px;
    height: 50px;
    text-align: left;
    padding: 5px;
    margin-top: 140px;
    font-size: 14px;
}
/* 프로필 수정 버튼 */
#edit-profile{
    margin-top: 10px;
    width: 510px;
    height: 34px;
    border: 4px orange solid;
    border-radius: 5px;
    font-weight: bolder;
    color: rgb(255, 111, 0);
    font-size: 15px;
    background-color:white;
}
/* 왼쪽 아래 영역 */
#left-bottom{
    width: 565px;
    height: 460px;
    margin-top: 10px;
}
/* bestpic영역 */
#bestpic-title{
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    padding-left: 30px;
    margin-top: 10px;
}
#left-bottom>hr{
    width: 510px;
    margin-top: px;
    color: rgb(179, 178, 178);
}
#bp-content-area{
    width: 500px;
    height: 380px;
    margin-top: 30px;
    padding-left: 30px;
}
.bp-content{
    width: 130px;
    height: 130px;
    margin-bottom:50px;
    margin-right: 25px;
    float: left;
    overflow: hidden;
}
#bp-content-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 오른쪽 영역 */
#right-part{
    width: 565px;
    height: 756px;
    position: absolute;
    right:34px;
    top: 23px;;
}
#pictures-area{
    margin-top: 90px;
    padding-left: 50px;
    height: 620px;
}
.pictures{
    width: 140px;
    height: 140px;
    margin-top: 50px;
    margin-right: 20px;
    float: left;
    overflow: hidden;
    cursor:pointer;
}
.pictures>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#enroll-btn{
    background-image: url("../../img/petLog/enroll.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    right: 40px;
    top:100px;
    cursor:pointer;
}

/* 상세조회 영역 스타일 */
/* 사진영역 */
.photo-area{
    width: 320px;
    height: 320px;
    position: absolute;
    left: 110px;
    top: 50px;
}
.carousel-item{
    width: 100%;
    height: 320px;
    overflow:hidden;
}
.carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
/* 날짜 영역 */
.date-area{
    position: absolute;
    bottom: 350px;
    left: 240px;
    font-size: 14px;
    color: rgb(106, 106, 106);
}
/* 오른쪽 상단 영역 */
.right-top{
    margin-top: 420px;
    height:275px;
}
#back-icon{
	position:absolute;
	right:38px;
	top:50px;
	text-decoration:none;
	color:orange;
	font-weight:bolder;
	font-size:40px;
	cursor:pointer;
}
/* 삭제버튼 */
.delete-btn{
    background: none;
    border: none;
    color: rgb(106, 106, 106);
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top:10px;
    cursor:pointer;
}
/* 내용영역 */
.text-area{
    width: 500px;
    min-height: 90px;
    max-height: 90px;
    text-align: center;
    padding: 5px;
    border: solid 1px darkgray;
    border-radius: 5px;
    overflow-y: auto;
    white-space: pre-wrap;
}
/* 좋아요, 댓글수 영역 */
.right-middle{
    height: 40px;
    margin-top: -180px;
}
.right-middle>img{
    width: 20px;
    height: 19px;
    margin-top: 9px;
    margin-right: 5px;
    margin-bottom: 15px;
}
.right-middle span{
    font-weight: bolder;
    color: rgb(70, 70, 70);
}
.like-count{
    margin-right: 10px;
}
.reply-count{
    margin-right: 110px;
}
/* 신고버튼 */
.report-post{
    text-decoration: none;
    color: darkgray;
    font-weight: bolder;
    font-size:11px;
    margin-right: 5px;
    cursor:pointer;
    margin-left: 80px;
}
/* 수정버튼 */
.modify-post{
    text-decoration: none;
    color: darkgray;
    font-weight: bolder;
    font-size:11px;
    cursor:pointer;
}
/* 오른쪽 하단 영역 */
.right-bottom{
    width: 500px;
    height: 170px;
    background:rgb(235, 235, 235);
}
/* 댓글영역 스타일 */
.reply-area *{
	border:none!important;
}
/* 댓글작성영역 스타일 */
.write-reply{
    height: 30px;
    margin-bottom: 15px;
}
.write-reply input{
    width: 430px;
    height: 25px;
    margin-top: 7px;
}
.reply-enrollbtn{
    background-color: orange;
    font-size: 13px;
    font-weight: bolder;
    height: 27px;
    margin-left: 8px;
    border:none;
    border-radius:10px;
    width:50px;
}
/* 댓글조회영역 스타일 */
.replies{
    margin-bottom: 5px;
    margin-top:10px;
    margin-left:10px;
    width: 485px;
    padding-left: 10px;
    height:auto;
	min-height:52px;
    overflow:hidden;
    position: relative;
}
.user-name, .reply-content {
    float: left;
}
.profile-pic{
    width: 19px;
    height: 19px;
    float: left;
    border-radius:100px;
    over-flow:hidden;
}
.profile-pic img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.user-name{
    margin-left: 10px;
    font-weight: bolder;
    font-size: 13px;
    margin-right: 10px;
}
.reply-content{
    font-size: 12px;
    white-space: pre-line;
    height:auto;
    margin-bottom:10px;
    width:355px;
    text-align: left;
}
.delete-reply{
    text-decoration: none!important;
    color: rgb(92, 92, 92);
    font-weight: bolder;
    cursor:pointer;
}
.reply-info{
    width: 60px;
    font-size: 11px;
    color: gray;
    height: 50px;
    margin-left: -205px;
    position: absolute;
    left: 240px;
    top: 16px;
}
.reply-info label{
    color: gray;
    font-size: 10px;
    margin-left: 7px;
    text-decoration: none!important;
    cursor: pointer;
}
#scroll-area{
    overflow-y: auto;
    height: 125px;
    width: 497px;
}



/* 프로필 수정 모달 */
.modal-body{
    margin-bottom: 20px;
}
#close-profile{
    margin-left: 430px;
    margin-top: 20px;
}
/* 프로필 사진 */
#edit-profile-img{
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 100px;
    background-image: url("../../img/petlog_logo.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#edit-profile-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 룸이름 */
#roomname-area{
    margin-top: 20px;
    margin-left: -20px;
}
#room-name2{
    font-weight: bolder;
    font-size: 14px;
    margin-right: 5px;
}
/* 사진첨부 */
#file-upload-area{
    margin-top: 20px;
    margin-bottom: 30px;
}
#file-upload-area>p{
    float: left;
    margin-left: 101px;
    margin-right: 5px;
    font-weight: bolder;
    font-size: 14px;
}
#file-upload-area>input{
    font-size: 14px;
    margin-top:5px;
}
/* 소개글 */
#bio-contents{
    font-size: 14px;
    font-weight: bolder;
    margin-right: 220px;
    margin-bottom: 10px;
}
#bio-contents+textarea{
    resize: none;
    width: 260px;
    height: 100px;
    margin-top:0px;
}
/* 업로드 버튼 */
#upload-btn{
    background: rgb(247, 198, 4);
    font-size: 14px;
    font-weight: bolder;
    width: 75px;
    height: 33px;
    margin-top: 20px;
}

/* 팔로워, 팔로잉 모달창 */
/* 공통 */
.list-title{
    margin-bottom: 30px;
}
.list-title>span{
    font-weight: bolder;
}
.title{
    font-size: 22px;
    margin-right: 20px;
}
.countNo{
    font-size: 25px;
    color: rgb(255, 111, 0);
}
.list-area{
    width: 200px;
    margin-bottom: 20px;
}
.profile-pic{
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
    border-radius: 100px;
    margin-left: -10px;
    margin-top: -3px;
}
.profile-pic>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}
.userId{
    font-weight: bolder;
    font-size: 17px;
    float: left;
    margin-left: 15px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width: 120px;
    text-align: left;
}
.follow-lst-btn{
    font-weight: bolder;
    color: white;
    background: orange;
    width: 60px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 150px;
}
.modal-content{
    overflow-y: initial !important
}
.list-body{
    height: 250px;
    overflow-y: auto;
}
.following-lst-btn{
    font-weight: bolder;
    color: orange;
    background: white;
    border: 3px solid orange;
    width: 60px;
    height: 27px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 150px;
}
#follower button, #following button{
    margin-left: 250px;
    margin-top: 10px;
}

/* 페이징바 */
#paging-area{
    width: 400px;
    margin-top: -20px;
}
#paging-area button{
    border:  0;
    background-color: transparent;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}
