<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPetLog">
		INSERT
		  INTO PETLOG
		  (
		    PETLOG_NO
		  , MEM_NO
		  , PETLOG_CONTENT
		  )
		  VALUES
		  (
		    SEQ_PETLOGNO.NEXTVAL
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertAttachmentList">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 6
		  , SEQ_PETLOGNO.CURRVAL
		  , ?
		  )
	</entry>
	<entry key="selectPetLogList">
		SELECT
			   PETLOG_NO
			 , MEM_NO
			 , ENROLL_DATE
			 , PETLOG_CONTENT
			 , ROOM_NAME
			 , (SELECT
			           FILE_PATH || CHANGE_NAME
			      FROM ATTACHMENT
			     WHERE REF_NO = P.PETLOG_NO
			       AND REF_BOARD_NO = 6
			       AND ROWNUM = 1) "TITLEIMG"
		  FROM PETLOG P
		  JOIN PETSROOM USING (MEM_NO)
	     WHERE P.STATUS = 'Y'
	       AND MEM_NO = ?
	     ORDER
	        BY PETLOG_NO DESC
	</entry>
	<entry key="selectPetsRoom">
		SELECT
			   MEM_NO
			 , P_PROFILE_IMG
			 , ROOM_NAME
			 , BIO
		  FROM PETSROOM
		 WHERE MEM_NO = ?
	</entry>
	<entry key="selectPetLog">
		SELECT
		       PETLOG_NO
		     , TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') "ENROLL_DATE"
		     , PETLOG_CONTENT
		  FROM PETLOG
		 WHERE PETLOG_NO = ?
	</entry>
	<entry key="selectAttachmentList">
		SELECT
			   ATTACHMENT_NO
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , FILE_PATH
	      FROM ATTACHMENT
	     WHERE REF_BOARD_NO = 6
	       AND REF_NO = ?
	</entry>
	<entry key="updatePetLog">
		UPDATE 
			   PETLOG
		   SET PETLOG_CONTENT = ?
		 WHERE PETLOG_NO = ?
	</entry>
	<entry key="insertNewAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 6
		  , ?
		  , ?
		  )
	</entry>
	<entry key="updateAttachment">
		UPDATE
		       ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , FILE_PATH = ?
		 WHERE ATTACHMENT_NO = ?
	</entry>
	<entry key="deletePetLog">
		UPDATE
			   PETLOG
		   SET STATUS = 'N'
		 WHERE PETLOG_NO = ?
	</entry>
</properties>