<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectList">

	  SELECT
	       PRODUCT_NAME
	     , S.PRODUCT_OP
	     , S.AMOUNT
	     , S.PRICE
         , FILE_PATH || CHANGE_NAME "BASICIMG"
	FROM SPMY_CART S
	JOIN TB_PRODUCT_UD USING(PRODUCT_NO)
    JOIN ATTACHMENT ON (PRODUCT_NO = REF_NO)
	WHERE MEM_NO = ?
      AND REF_BOARD_NO = 4
      AND FILE_LEVEL = 1
	
</entry>

<entry key="selectSum">
	SELECT SUM(PRICE) PRICESUM, SUM(AMOUNT) AMOUNTSUM
	  FROM (SELECT
			       PRODUCT_NAME
			     , S.PRODUCT_OP
			     , S.AMOUNT
			     , S.PRICE
			FROM SPMY_CART S
			JOIN TB_PRODUCT_UD USING(PRODUCT_NO)
			WHERE MEM_NO = ?)
</entry>







</properties>