<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key="selectListCount">
	SELECT
	       COUNT(*) COUNT
	  FROM SPMY_CANCEL CC, SPMY_ORDER O
	WHERE CC.ORDER_NO = O.ORDER_NO
	  AND MEM_NO = ?

</entry>

<entry key="selectList">

	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
	                SELECT
					       CC.ORDER_NO "CANCEL_ONO"
					     , P.PRODUCT_NAME "CANCEL_PNAME"
					     , OP.ORDER_POPTION "CANCEL_OPOPTION"
					     , OP.ORDER_PAMOUNT "CANCEL_OPAMOUNT"
					     , O.PRICE "CANCEL_PRICE" 
					     , TO_CHAR(O.ORDER_DATE, 'yyyy-mm-dd') "ORDER_DATE"
				         , CC_SLEDDING
				         , CC_PAYMENT
					  FROM SPMY_CANCEL CC, SPMY_ORDER O, SP_ORDERPRODUCT OP, TB_PRODUCT_UD P
					 WHERE 
					       CC.ORDER_NO = O.ORDER_NO
					   AND CC.ORDER_PNUM = OP.ORDER_PNUM
					   AND OP.PRODUCT_NO = P.PRODUCT_NO
					   AND MEM_NO = ?
					  ORDER 
					     BY ORDER_DATE DESC
	                ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
	 
</entry>

<entry key="selectCancel">

	
     SELECT
	       CC.ORDER_NO "CANCEL_ONO"
	     , P.PRODUCT_NAME "CANCEL_PNAME"
	     , OP.ORDER_POPTION "CANCEL_OPOPTION"
	     , OP.ORDER_PAMOUNT "CANCEL_OPAMOUNT"
	     , O.PRICE "CANCEL_PRICE" 
	     , TO_CHAR(O.ORDER_DATE, 'yyyy-mm-dd') "ORDER_DATE"
         , CC_SLEDDING
         , CC_PAYMENT
	  FROM SPMY_CANCEL CC, SPMY_ORDER O, SP_ORDERPRODUCT OP, TB_PRODUCT_UD P
	 WHERE 
	       CC.ORDER_NO = O.ORDER_NO
	   AND CC.ORDER_PNUM = OP.ORDER_PNUM
	   AND OP.PRODUCT_NO = P.PRODUCT_NO
	   AND MEM_NO = ?
	  ORDER 
	     BY ORDER_DATE DESC

	 
</entry>

<entry key="selectTermListA">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
					SELECT T.*
					FROM (
					SELECT
					       CC.ORDER_NO "CANCEL_ONO"
					     , P.PRODUCT_NAME "CANCEL_PNAME"
					     , OP.ORDER_POPTION "CANCEL_OPOPTION"
					     , OP.ORDER_PAMOUNT "CANCEL_OPAMOUNT"
					     , O.PRICE "CANCEL_PRICE" 
					     , TO_CHAR(O.ORDER_DATE, 'yyyy-mm-dd') "ORDER_DATE"
					     , CC_SLEDDING
					     , CC_PAYMENT
					  FROM SPMY_CANCEL CC, SPMY_ORDER O, SP_ORDERPRODUCT OP, TB_PRODUCT_UD P
					 WHERE 
					       CC.ORDER_NO = O.ORDER_NO
					   AND CC.ORDER_PNUM = OP.ORDER_PNUM
					   AND OP.PRODUCT_NO = P.PRODUCT_NO
					   AND MEM_NO = ?
					  ORDER 
					     BY ORDER_DATE DESC
					) T
					WHERE ORDER_DATE BETWEEN TO_CHAR(SYSDATE-7 ,'YYYY-MM-DD')
							             AND TO_CHAR(SYSDATE , 'YYYY-MM-DD')


	                ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectTermListB">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
					SELECT T.*
					FROM (
					SELECT
					       CC.ORDER_NO "CANCEL_ONO"
					     , P.PRODUCT_NAME "CANCEL_PNAME"
					     , OP.ORDER_POPTION "CANCEL_OPOPTION"
					     , OP.ORDER_PAMOUNT "CANCEL_OPAMOUNT"
					     , O.PRICE "CANCEL_PRICE" 
					     , TO_CHAR(O.ORDER_DATE, 'yyyy-mm-dd') "ORDER_DATE"
					     , CC_SLEDDING
					     , CC_PAYMENT
					  FROM SPMY_CANCEL CC, SPMY_ORDER O, SP_ORDERPRODUCT OP, TB_PRODUCT_UD P
					 WHERE 
					       CC.ORDER_NO = O.ORDER_NO
					   AND CC.ORDER_PNUM = OP.ORDER_PNUM
					  AND OP.PRODUCT_NO = P.PRODUCT_NO
					   AND MEM_NO = ?
					  ORDER 
					     BY ORDER_DATE DESC
					) T
					WHERE ORDER_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'YYYY-MM-DD')
					                     AND TO_CHAR(SYSDATE ,'YYYY-MM-DD')


	                ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectTermListC">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
						SELECT T.*
						FROM (
						SELECT
						       CC.ORDER_NO "CANCEL_ONO"
						     , P.PRODUCT_NAME "CANCEL_PNAME"
						     , OP.ORDER_POPTION "CANCEL_OPOPTION"
						     , OP.ORDER_PAMOUNT "CANCEL_OPAMOUNT"
						     , O.PRICE "CANCEL_PRICE" 
						     , TO_CHAR(O.ORDER_DATE, 'yyyy-mm-dd') "ORDER_DATE"
						     , CC_SLEDDING
						     , CC_PAYMENT
						  FROM SPMY_CANCEL CC, SPMY_ORDER O, SP_ORDERPRODUCT OP, TB_PRODUCT_UD P
						 WHERE 
						       CC.ORDER_NO = O.ORDER_NO
						   AND CC.ORDER_PNUM = OP.ORDER_PNUM
						   AND OP.PRODUCT_NO = P.PRODUCT_NO
						   AND MEM_NO = ?
						  ORDER 
						     BY ORDER_DATE DESC
						) T
						WHERE ORDER_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE, -3), 'YYYY-MM-DD')
						                     AND TO_CHAR(SYSDATE ,'YYYY-MM-DD')


	                ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectTermListD">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
					SELECT T.*
					FROM (
					SELECT
					       CC.ORDER_NO "CANCEL_ONO"
					     , P.PRODUCT_NAME "CANCEL_PNAME"
					     , OP.ORDER_POPTION "CANCEL_OPOPTION"
					     , OP.ORDER_PAMOUNT "CANCEL_OPAMOUNT"
					     , O.PRICE "CANCEL_PRICE" 
					     , TO_CHAR(O.ORDER_DATE, 'yyyy-mm-dd') "ORDER_DATE"
					     , CC_SLEDDING
					     , CC_PAYMENT
					  FROM SPMY_CANCEL CC, SPMY_ORDER O, SP_ORDERPRODUCT OP, TB_PRODUCT_UD P
					 WHERE 
					       CC.ORDER_NO = O.ORDER_NO
					   AND CC.ORDER_PNUM = OP.ORDER_PNUM
					   AND OP.PRODUCT_NO = P.PRODUCT_NO
					   AND MEM_NO = ?
					  ORDER 
					     BY ORDER_DATE DESC
					) T
					WHERE ORDER_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE, -6), 'YYYY-MM-DD')
					                     AND TO_CHAR(SYSDATE ,'YYYY-MM-DD')


	                ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
</entry>


<entry key="selectDetailList">

	SELECT
	       CC.ORDER_NO "CANCEL_ONO"
	     , P.PRODUCT_NAME "CANCEL_PNAME"
	     , OP.ORDER_PNUM "ORDER_PNUM"     
	     , OP.ORDER_POPTION "CANCEL_OPOPTION"
	     , OP.ORDER_PAMOUNT "CANCEL_OPAMOUNT"
	     , O.PRICE "CANCEL_PRICE"
	     , O.MEM_ORDER "CANCEL_NAME"
	     , O.PHONE "CANCEL_PHONE"
	     , O.ADDRESS "CANCEL_ADDRESS"
	     , CC_PAYMENT "PAYMENT"
	  FROM SPMY_CANCEL CC, SPMY_ORDER O, SP_ORDERPRODUCT OP, TB_PRODUCT_UD P
	 WHERE 
	       CC.ORDER_NO = O.ORDER_NO
	   AND CC.ORDER_PNUM = OP.ORDER_PNUM
	   AND OP.PRODUCT_NO = P.PRODUCT_NO	
	   AND CC.ORDER_NO = ?
	   AND MEM_NO = ?

</entry>

<entry key="selectCancelApp">

	SELECT 
	        O.ORDER_NO "CANCEL_ONO"
	      , O.ORDER_DATE "ORDER_DATE"
	      , M.MEM_NAME "MEM_NAME"
	      , O.PHONE "PHONE"
	      , O.ADDRESS "ADDRESS"
	      , O.DELIVERY_MEMO "DELMEMO"
	      , O.PRICE "PRICE"
	FROM  SPMY_ORDER O, TB_MEMBER M
	WHERE 
	      O.MEM_NO = M.MEM_NO
	  AND O.MEM_NO = ?
	  AND O.ORDER_NO = ?

</entry>


<entry key="selectSum">
	SELECT SUM(PRICE) PRICESUM, SUM(AMOUNT) AMOUNTSUM
	  FROM (SELECT
			        O.ORDER_NO "CANCEL_ONO"
			      , O.ORDER_DATE "ORDER_DATE"
			      , M.MEM_NAME "MEM_NAME"
			      , O.PHONE "PHONE"
			      , O.ADDRESS "ADDRESS"
			      , O.DELIVERY_MEMO "DELMEMO"
			      , O.PRICE "PRICE"
			      , OP.ORDER_PAMOUNT "AMOUNT"
			FROM  SPMY_ORDER O, TB_MEMBER M, SP_ORDERPRODUCT OP
			WHERE 
			      O.MEM_NO = M.MEM_NO
			  AND O.ORDER_NO = OP.ORDER_NO    
			  AND O.MEM_NO = ?
			  AND O.ORDER_NO = ?)
</entry>

<entry key="insertCancel">

INSERT 
	  INTO SPMY_EXCHANGE
	  (
	      CC_NO
		, ORDER_NO
		, CC_REASON
		, CC_PAYMENT
		, ORDER_PNUM
		, CC_DELMEMO
	  )
	  VALUES
	  (
		  SEQ_CCNO.NEXTVAL
		, ?
		, ?
		, ?
		, ?
		, ?
	  )

</entry>



</properties>