<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectOrderProduct">

	SELECT 
	       ORDER_POPTION
	     , ORDER_PAMOUNT
	     , PRICE
	     , PRODUCT_NAME    
	  FROM SP_ORDERPRODUCT
	  JOIN TB_PRODUCT_UD USING(PRODUCT_NO)
	 WHERE ORDER_PNUM = ?

</entry>

<entry key="selectOrderDelivery">

	SELECT 
	       MEM_NAME
         , O.PHONE
         , O.ADDRESS
         , O.DELIVERY_MEMO
         , O.PAYMENT
	  FROM SPMY_ORDER O
	  JOIN TB_MEMBER USING(MEM_NO)
	 WHERE ORDER_NO = ?

</entry>

<entry key="insertExchange">
	INSERT 
		  INTO SPMY_EXCHANGE
		  (
		      EC_CODE
			, ORDER_PNUM
			, ECREASON
			, EC_PAYMENT
			, DELIVERY_MEMO
		  )
		  VALUES
		  (
			  ?
			, ?
			, ?
			, ?
			, ?
		  )

</entry>




</properties>