<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectList">

	SELECT 
		    PRODUCT_NO
	      , PRODUCT_NAME
	      , PRICE
	  FROM SPMY_LIKE
	  JOIN TB_PRODUCT_UD USING (PRODUCT_NO)
	  WHERE MEM_NO = ?

</entry>

<entry key="deleteLike">
	DELETE FROM SPMY_LIKE
	WHERE PRODUCT_NO = ?
</entry>

</properties>