div, img, li, a{
    box-sizing: border-box;
}
.content-area{
	width: 1400px;
	height: auto;
	margin: auto;
	padding:200px;
	padding-top:35px;
	margin-bottom:70px;
}
#outer{
	width: 1600px;
	height: auto;
	margin: auto;
}
/* 목록버튼 스타일 */
#list-btn{
	width: 997px;
	margin-bottom: -10px;
}
#list{
	height: 27px;
	font-size: 14px;
	line-height: 2px;
}
/* 사진 부분 스타일 */
#photo-area{
    width: 400px;
    height: 500px;
    margin-top: 60px;
    float: left;
}
.carousel-inner{
	border:solid 1px darkgray;
	width: 400px;
    min-height: 400px;
    background: url("../../../img/default-img.png");
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-item{
    width: 100%;
    height: 400px;
    overflow:hidden;
}
.carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
#file-upload-area>p{
    float: left;
    font-weight: bolder;
    color: rgb(106, 106, 106);
}
#file-upload-area{
    margin-top: 40px;
}
#file-upload-area>input{
    margin-top: 8px;
}
#add-area{
	margin-left:30px;
	height:auto;
	margin-top:-15px;
}
#add-area>input{
	margin-bottom:10px;
}
#add-btn{
	width:30px;
	height:30px;
	border:none;
	background:orange;
	font-weight:bolder;
	font-size:20px;
	line-height:2px;
	position:absolute;
	left:820px;
	border-radius:5px;
	bottom:360px;
}
/* 입력부분 스타일 */
.input-area{
    width: 500px;
    height: 500px;
    margin-left: 495px;
    margin-top: 60px;
    background: rgb(235, 235, 235);
}
.input-area>div{
    text-align: left;
    padding-left: 50px;
    margin-bottom: 15px;
}
.input-area span{
    color: rgb(99, 99, 99);
    font-weight: bolder;
    margin-right: 20px;
}
/* 구분 */
.select-ddcategory{
    padding-top: 45px;
}
.select-ddcategory>span{
    margin-right: 49px;
}
/* 대상 */
.category-select-area{
    text-align: left;
    padding-left: 30px;
    margin-bottom: 20px;
}
.category-select-area>span{
    margin-right: 49px;
}
/* 성별 */
.gender-select-area>span{
    margin-right: 49px;
}
/* 이름 */
.name-area>span{
    margin-right: 49px;
}
.name-area>input{
	padding-left:5px;
}
/* 나이 */
.age-area>input{
    width: 40px;
}
/* 발생일 */
.missing-date-area>span{
    margin-right: 36px;
}
/* 발생장소 */
.missing-place-area>input{
    width: 300px;
    padding-left:5px;
}
.missing-place-area>div{
    font-size: 12px;
    color: orange;
    font-weight: bolder;
    margin-left: 90px;
}
/* 신체특징 */
.feature-area>textarea{
    width: 300px;
    height: 60px;
    resize: none;
    position: absolute;
    padding-left:5px;
}
.feature-area>div{
    font-size: 12px;
    color: orange;
    font-weight: bolder;
    margin-left: 85px;
    margin-top: 40px;
}

/* 올리기 버튼 */
.enroll-btn-area{
    margin-top: 30px;
}
.enroll-btn-area>button{
    background: rgb(247, 198, 4);
    font-weight: bolder;
    height: 30px;
    line-height: 2px;
}