<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertAsk">
		INSERT
		  INTO ASK
		  (
		    ASK_NO
		  , ASK_WRITER
		  , CATEGORY
		  , ASK_TITLE
		  , ASK_CONTENT
		  )
		  VALUES
		  (
		    SEQ_ASKNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	<entry key="insertAttachmentList">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 1
		  , SEQ_ASKNO.CURRVAL
		  , ?
		  )
	</entry>
	<entry key="selectAskList">
		SELECT
			   ASK_NO
			 , ASK_WRITER
			 , NICKNAME
			 , CATEGORY
			 , ASK_TITLE
			 , ASK_CONTENT
			 , TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') "ENROLL_DATE"
			 , COUNT
			 , (SELECT 
		               FILE_PATH || CHANGE_NAME
		          FROM ATTACHMENT 
		         WHERE REF_NO = A.ASK_NO
		           AND REF_BOARD_NO = 1
		           AND ROWNUM = 1) "TITLEIMG"
		  FROM ASK A
		  JOIN TB_MEMBER ON (ASK_WRITER = MEM_NO)
		 WHERE STATUS = 'Y'
		 ORDER
		    BY ASK_NO DESC
	</entry>
	<entry key="increaseCount">
		UPDATE
		       ASK
		   SET COUNT = COUNT + 1
		 WHERE ASK_NO = ?
		   AND STATUS = 'Y'
	</entry>
	<entry key="selectAsk">
		SELECT
			   ASK_NO
			 , ASK_WRITER
			 , NICKNAME
			 , CATEGORY
			 , ASK_TITLE
			 , ASK_CONTENT
			 , TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD HH24:MI') "ENROLL_DATE"
			 , COUNT			
		  FROM ASK A
		  JOIN TB_MEMBER ON (ASK_WRITER = MEM_NO)
		 WHERE ASK_NO = ?
	</entry>
	<entry key="selectAttachmentList">
		SELECT
		       ATTACHMENT_NO
		     , ORIGIN_NAME  
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_BOARD_NO = 1
		   AND REF_NO = ?
	</entry>
	<entry key="updateAsk">
		UPDATE
		       ASK
		   SET CATEGORY = ?
		     , ASK_TITLE = ?
		     , ASK_CONTENT = ?
		 WHERE ASK_NO = ?
	</entry>
	<entry key="updateAttachment">
		UPDATE 
		  	   ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , FILE_PATH = ?
		 WHERE ATTACHMENT_NO = ?
	</entry>
	<entry key="insertNewAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		  	ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 1
		  , ?
		  , ?
		  )
	</entry>
	<entry key="deleteAsk">
		UPDATE
		       ASK
		   SET STATUS = 'N'
		 WHERE ASK_NO = ?
	</entry>
</properties>