<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMarket">
		INSERT
		  INTO MARKET
		  (
		    MARKET_NO
		  , MARKET_WRITER
		  , CATEGORY
		  , D_CATEGORY
		  , MARKET_TITLE
		  , MARKET_CONTENT
		  , PRICE
		  )
		  VALUES
		  (
		    SEQ_MARNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertAttachmentList">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 2
		  , SEQ_MARNO.CURRVAL
		  , ?
		  )
	</entry>
	
	<entry key="selectMarketList">
		SELECT
		       MARKET_NO
		     , CATEGORY
		     , D_CATEGORY
		     , MARKET_TITLE
		     , MARKET_CONTENT
		     , PRICE
		     , (SELECT 
		               FILE_PATH || CHANGE_NAME
		          FROM ATTACHMENT 
		         WHERE REF_NO = M.MARKET_NO
		           AND REF_BOARD_NO = 2
		           AND ROWNUM = 1) "TITLEIMG"
		  FROM MARKET M
		 WHERE M.STATUS = 'Y'
		 ORDER
		    BY MARKET_NO DESC
	</entry>
</properties>
