<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMissing">
		INSERT
		  INTO TB_MISSING
		  (
		    MISSING_NO
		  , MISSING_WRITER
		  , CATEGORY
		  , D_CATEGORY
		  , PNAME
		  , GENDER
		  , MI_DATE
		  , AGE_FROM
		  , AGE_TO
		  , LOCATION
		  , FEATURE
		  )
		  VALUES
		  (
		    SEQ_MISSNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	<entry key="insertAttachmentList">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 3
		  , SEQ_MISSNO.CURRVAL
		  , ?
		  )
	</entry>
</properties>