<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertShoppingPd">
		INSERT
		  INTO TB_PRODUCT_UD
		  (
            PRODUCT_NO
		  , CATEGORY
		  , PRODUCT_NAME
		  , PRODUCT_OP
		  , PRICE
		  , EXPLAIN
		  , DETAIL
          , AMOUNT
          , MANAGER_NO
		  )
		  VALUES
		  (
		    SEQ_PNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
          , ?
          , ?
		  )
	</entry>
	
	<entry key="insertAttachmentList">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  , FILE_LEVEL
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 4
		  , SEQ_PNO.CURRVAL
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_PRODUCT_UD
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                	   PRODUCT_NO
		                     , CATEGORY
		                     , PRODUCT_NAME
		                     , PRICE
		                     , AMOUNT
		                 FROM TB_PRODUCT_UD
		                WHERE STATUS = 'Y' 
		                ORDER
		                   BY PRODUCT_NO DESC
		                ) A
		        )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectProduct">
		SELECT
		       PRODUCT_NO
		     , CATEGORY
		     , PRODUCT_NAME
		     , PRODUCT_OP
		     , PRICE
		     , EXPLAIN
		     , DETAIL
		     , AMOUNT
		 FROM TB_PRODUCT_UD
		WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="selectAttachmentList">
		SELECT
		       ATTACHMENT_NO
		     , ORIGIN_NAME  
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_BOARD_NO = 4
		   AND REF_NO = ?
	</entry>
	
	<entry key="updateProduct">
		UPDATE
		       TB_PRODUCT_UD
		   SET CATEGORY = ?
		     , PRODUCT_NAME = ?
		     , PRODUCT_OP = ?
             , PRICE = ?
		     , EXPLAIN = ?
             , DETAIL = ?
		     , AMOUNT = ?
		 WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="updateAttachment">
		UPDATE 
		  	   ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , FILE_PATH = ?
		 WHERE ATTACHMENT_NO = ?
		   	
	</entry>
	
	<entry key="insertNewAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		  	ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 4
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="spDelete">
		UPDATE
			   TB_PRODUCT_UD
		   SET STATUS = 'N'
		 WHERE PRODUCT_NO = ?
	</entry>
	
</properties>