<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertShoppingPd">
		INSERT
		  INTO TB_PRODUCT_UD
		  (
            PRODUCT_NO
		  , CATEGORY
		  , PRODUCT_NAME
		  , PRODUCT_OP
		  , PRICE
		  , EXPLAIN
		  , DETAIL
          , AMOUNT
          , MANAGER_NO
		  )
		  VALUES
		  (
		    SEQ_PNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
          , ?
          , ?
		  )
	</entry>
	
	<entry key="insertAttachmentList">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACHMENT_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , REF_BOARD_NO
		  , REF_NO
		  , FILE_PATH
		  , FILE_LEVEL
		  )
		  VALUES
		  (
		    SEQ_ATT.NEXTVAL
		  , ?
		  , ?
		  , 4
		  , SEQ_PNO.CURRVAL
		  , ?
		  , ?
		  )
	</entry>
	
</properties>