<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="selectListCount">
		SELECT
			   COUNT(*) count
		  FROM TB_MISSING
		 WHERE STATUS = 'Y' 
	</entry>

	<entry key="selectList">
		SELECT *
		  FROM (
		  		SELECT ROWNUM RNUM, A.*
		  		  FROM (
		  		  		 SELECT
		  		  		 	    MISSING_NO
		  		  		 	  , NICKNAME
		  		  		 	  , CATEGORY
		  		  		 	  , D_CATEGORY
		                      , TO_CHAR(ENROLL_DATE, 'YY/MM/DD') "ENROLL_DATE"
		  		  		 	  , LOCATION
		  		  		   FROM TB_MISSING M
		  		  		   JOIN TB_MEMBER ON (MISSING_WRITER = MEM_NO)
		  		  		  WHERE M.STATUS = 'Y'
		  		  		  ORDER
		  		  		     BY M.MISSING_NO DESC
		  		  		   ) A
		  		  	)
		  WHERE RNUM BETWEEN ? AND ?
	</entry>

	
	<entry key="selectMissing">
		SELECT 
			   MISSING_NO
			 , NICKNAME
			 , CATEGORY
			 , D_CATEGORY
		     , TO_CHAR(ENROLL_DATE, 'YY/MM/DD') "ENROLL_DATE"
			 , LOCATION
		  FROM TB_MISSING M
		  JOIN TB_MEMBER ON (MISSING_WRITER = MEM_NO)
		 WHERE M.MISSING_NO = ?
	</entry>
	
	<entry key="deleteMissing">
	 	UPDATE
			   TB_MISSING
		   SET STATUS = 'N'
		 WHERE MISSING_NO = ?
	 </entry>

</properties>