<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="selectListCount">
		SELECT
			   COUNT(*) count
		  FROM TB_QNA
		 WHERE STATUS = 'Y' 
	</entry>

	<entry key="selectList">
		SELECT *
		  FROM (
		  		SELECT ROWNUM RNUM, A.*
		  		  FROM (
		  		  		 SELECT
		  		  		 	    QNA_NO
		  		  		 	  , NICKNAME
		  		  		 	  , QNA_TITLE
		                      , TO_CHAR(QNA_DATE, 'YY/MM/DD') "QNA_DATE"
		  		  		 	  , STATUS
		  		  		   FROM TB_QNA Q
		  				   JOIN TB_MEMBER USING (MEM_NO)
		  		  		  WHERE Q.STATUS = 'Y'
		  		  		  ORDER
		  		  		     BY Q.QNA_NO DESC
		  		  		   ) A
		  		  	)
		  WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="insertQna">
		INSERT
		  INTO TB_FAQ
		  	 (
		       QNA_NO
		     , MANAGER_NO
		     , QNA_REPLY_CONTENT
		     , TO_CHAR(QNA_REPLY_DATE, 'YY/MM/DD') "QNA_REPLY_DATE"
		   	 )
		   	 VALUES
		   	 (
		       SEQ_QNANO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	
	<entry key="selectQna">
		SELECT 
			   QNA_NO
			 , NICKNAME
			 , MANAGER_NO
			 , QNA_TITLE
			 , QNA_CONTENT
		     , TO_CHAR(QNA_DATE, 'YY/MM/DD') "QNA_DATE"
			 , QNA_REPLY_CONTENT
		     , TO_CHAR(QNA_REPLY_DATE, 'YY/MM/DD') "QNA_REPLY_DATE"
		  FROM TB_QNA Q
		  JOIN TB_MEMBER USING (MEM_NO)
		  JOIN TB_MANAGER_ID USING (MANAGER_NO)
		 WHERE Q.QNA_NO = ?
	</entry>

	<entry key="updateQna">
		UPDATE
               TB_QNA
           SET MEM_NO = ?
             , QNA_REPLY_DATE = ?
             , QNA_REPLY_CONTENT = ?
         WHERE QNA_NO = ?
	</entry>
	
	<entry key="deleteQna">
	 	UPDATE
			   TB_QNA
		   SET STATUS = 'N'
		 WHERE QNA_NO = ?
	 </entry>

</properties>